<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Practise</title>
    <style>
        body{
            background-color: #c7eaea;
        }
        .text-red{
            color: red;
        }
        .text-green{
            color: green;
        }
    </style>

</head>
<body>

<div id="myApp34" class="container">
    <div class="card mt-5 p-2">
        <div class="card-header">
            <h5>{{title}}</h5>
        </div>
        <section  class="border p-1 mt-2 ">
            <form @submit.prevent="addTopic" class="form-inline">
                <div class="form-group">
                    <input  class="form-control" v-model="topic" placeholder="Add Topic" type="text">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ml-2">Submit Data1</button>
                </div>
                <div class="form-group">
                    <p class="ml-3">{{topic}}</p>
                </div>
            </form>


        </section>
        <hr>
        <div class="row mb-3">
            <div class="col-md-6">
                <section class="border p-1">
                    <strong>Our New Topic List</strong>
                    <ul>
                        <li v-for="topic in incompleteTopic">
                            <label>
                                {{topic.title}}
                                <input type="checkbox" :key="topic.id" v-model="topic.status">
                            </label>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-md-6">
                <section class="border p-1">
                    <strong>Completed Topic List</strong>
                    <ul>
                        <li v-for="topic in completedTopic">
                            <label>
                                {{topic.title}}
                                <input
                                type="checkbox"
                                :key="topic.id"
                                v-model="topic.status"
                                >
                            </label>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

</div>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@3"></script>

<script>

    Vue.createApp({
        data(){
          return {
              title: 'Event Handling',
              topic: '',
              topics: [
                  {
                      id:1,
                      title: 'Topic Title 1',
                      status:false
                  },
                  {
                      id:2,
                      title: 'Topic Title 2',
                      status:false
                  },
                  {
                      id:3,
                      title: 'Topic Title 3',
                      status:false
                  },
              ],
          }
        },
        methods:{
            addTopic(){
                this.topics.push({
                    id: this.topics.length +1,
                    title : this.topic,
                    status: false,
                });
                this.topic = '';
            }
        },
        computed:{
            completedTopic(){
                return this.topics.filter(function (topic){
                    return topic.status === true;
                });
            },
            incompleteTopic(){
                return this.topics.filter(function (topic){
                    return topic.status === false;
                });
            }
        }
    }).mount("#myApp34");

</script>
</body>
</html>